* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
  color: #4a4a4a;
  background: fixed linear-gradient(to top, #3b41c5 0%, #a981bb 49%, #ffc8a9 100%) center no-repeat; }
  body.almost {
    background-image: linear-gradient(to top, #007adf 0%, #00ecbc 100%); }
  body.enroute {
    background-image: linear-gradient(to top, #b3ffab 0%, #12fff7 100%); }
  body.late {
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%); }
  body > * {
    flex: 0 0 auto; }

body > * {
  flex: 0 0 auto; }

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif; }

#page-body {
  flex: 1 0 auto; }

#page-footer {
  color: #eaeaea;
  padding: 40px;
  font-size: 0.9rem; }

#page-footer a {
  font-weight: bold;
  color: inherit;
  text-decoration: none; }

.page-footer-bymoodio {
  height: 20px;
  width: auto;
  display: inline-block;
  vertical-align: middle; }

#main-header {
  width: 100%;
  max-width: 960px;
  margin: 0 auto 30px auto; }

#header-content {
  display: inline-block;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  font-size: 0;
  vertical-align: top; }

#logo-container {
  display: inline-block;
  padding: 0px 24px;
  line-height: 70px;
  background-color: #595d7b;
  color: #F1F1F1;
  font-size: 2rem;
  font-weight: bolder;
  vertical-align: top; }

#bymoodio-container {
  display: inline-block;
  height: 70px;
  width: 20px;
  background-color: #4b4a6c;
  color: #F1F1F1;
  vertical-align: top; }

#header-logo {
  width: 100px;
  vertical-align: middle; }

#widget-container {
  position: relative;
  width: 358px;
  max-width: 94%;
  margin: 0 auto 20px;
  background-color: #FEFEFE;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.5s; }

#widget-pages {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  overflow: hidden; }

#timer-container {
  display: none;
  visibility: hidden; }

.timer-active #widget-pages {
  display: none;
  visibility: hidden; }

.timer-active #timer-container {
  display: block;
  visibility: visible; }

.timer-active .bottom-bar {
  display: none;
  visibility: hidden; }

.form-page {
  flex: 0 0 100%;
  position: relative;
  width: 100%;
  padding: 20px 20px 0 20px;
  left: 0px;
  transition: left 0.5s; }

.page2 > #widget-pages > .form-page {
  left: -358px; }

.page3 > #widget-pages > .form-page {
  left: -716px; }

.bottom-bar {
  padding: 0px 20px 20px; }

#referee-email-container.hidden {
  display: none;
  visibility: hidden; }

#error-container {
  height: 0px;
  padding: 0px;
  font-size: 0.8rem;
  color: red;
  background-color: #ffdcdc; }

#error-container.error {
  height: auto;
  padding: 10px; }

h1 {
  max-width: 90%;
  text-align: center;
  margin: 0 auto;
  color: white;
  margin-bottom: 30px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1); }

h4 {
  font-size: 1.1rem;
  font-weight: normal;
  margin-bottom: 10px; }

/*
 *  TIMER
 */
#timer-container {
  text-align: center;
  padding: 20px; }

#timer-time-container {
  font-size: 3rem;
  padding-bottom: 20px;
  border-bottom: 1px solid #EAEAEA; }

.timer-infobar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 0.8rem;
  margin: 30px 0; }

.info-box {
  flex: 1 0 auto;
  text-align: left;
  font-size: 0; }

.info-box-title {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 4px; }

.info-box-icon {
  display: inline-block;
  background-color: #595d7b;
  width: 28px;
  height: 28px;
  text-align: center;
  font-size: 0;
  vertical-align: middle; }

.info-box-icon > img {
  display: inline-block;
  width: 22px;
  height: auto; }

.info-box-text {
  display: inline-block;
  vertical-align: middle;
  line-height: 28px;
  padding: 0 6px;
  font-weight: bold;
  font-size: 0.9rem;
  color: #786D85; }

.timer-bottombar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-flow: row-reverse nowrap;
  font-size: 0;
  padding: 20px 0; }

.bottombar-icon {
  text-align: center;
  display: inline-block;
  flex: 0 0 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #eaeaea;
  cursor: pointer; }

/* journey locations */
.timer-locations-container {
  font-size: 0; }
  .timer-locations-container .location-header {
    text-align: left;
    font-size: 0.9rem;
    font-weight: bold; }
  .timer-locations-container .location-address {
    font-size: 0.9rem;
    font-weight: bold;
    color: #786D85;
    text-align: left;
    padding: 4px 0 10px 0; }

/* subscribe stuff
*/
.timer-subscribe {
  text-align: left;
  padding: 10px 0 20px 0;
  border-top: 1px solid #EAEAEA; }

/*
 *  Coming soon bits
 */
.comingsoon-container {
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  background-color: #FEFEFE;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); }

/*
 *  INPUTS
 */
.input-group {
  display: block;
  padding: 10px 0; }

.input-row-multi {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch; }

.input-row-item {
  flex: 1 0 auto; }

.input-row-item.s {
  flex: 0 0 auto; }

.input-row-item {
  border-radius: 0px; }

.center-content {
  text-align: center; }

.center-content > * {
  vertical-align: middle;
  display: inline-block; }

.center-content::before,
.center-content::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 1px;
  vertical-align: middle; }

/*
 * tool tip 
*/
.tooltip-container {
  position: absolute;
  display: none;
  visibility: hidden;
  width: 180px;
  height: auto;
  bottom: 110%;
  padding: 10px;
  color: white;
  background-color: #393c52;
  font-size: 0.8rem;
  font-weight: normal;
  text-align: left;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  transition: visible 2s;
  z-index: 500; }
  .tooltip-container.stick-right {
    right: 0px; }
  .tooltip-container.stick-left {
    left: 0px; }

.tooltip-trigger {
  position: relative; }
  .tooltip-trigger:hover .tooltip-container {
    display: inline-block;
    visibility: visible; }

/*
*   Input styling
*/
input[type="text"],
input[type="email"],
select {
  height: 32px;
  line-height: 32px;
  /* border-radius: 6px; */
  border: 1px solid #ddd4e3;
  padding: 0px 8px; }

input[type="text"]:focus,
input[type="email"]:focus,
select:focus {
  box-shadow: 0 1px 3px 0 #cfd7df; }

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="text"]--placeholder,
input[type="email"]--placeholder {
  color: #32325d; }

.input-group > input {
  width: 100%; }

.input-group > label {
  display: block;
  font-weight: 600;
  font-size: 0.85rem;
  color: #786D85;
  padding-bottom: 4px; }

/*
*   ADD ON BUTTONS
*/
.addon-button {
  height: 32px;
  background-color: #bba44a;
  color: #F1F1F1;
  border: none;
  transition: all 0.4s; }

.addon-icon-button {
  display: block;
  color: #FFF;
  background-color: #786D85;
  text-align: center;
  cursor: pointer;
  width: 40px; }

.addon-icon-button > img {
  vertical-align: middle;
  width: 18px;
  height: auto; }

.addon-icon-button.loading > img {
  animation: rotate 3s infinite; }

.info-icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url("/images/infoicon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle; }

/*
 *  SWITCH
 */
input[type="radio"] {
  visibility: hidden;
  display: none; }

input[type="radio"] + label {
  display: block;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem; }

input[type="radio"] + label {
  background-color: #DDD; }

input[type="radio"] + label > * {
  vertical-align: middle; }

input[type="radio"]:checked + label {
  background-color: #786D85;
  color: #FAFAFA; }

input[type="radio"] + label.l {
  height: 38px;
  line-height: 38px; }

input[type="radio"]:checked + label.danger {
  background-color: #bc1a1a;
  color: #F1F1F1; }

/*
 *  RADIO BUTTONS
 */
.input-radio-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 0px 0; }

.input-radio-bar > .radio-button {
  display: block;
  flex: 0 0 40px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin-right: 20px; }

.input-radio-bar > .radio-button:last-child {
  margin-right: 0px; }

.radio-button img {
  width: 21px;
  height: auto; }

.radio-button label {
  height: 100%; }

/*
*   AUTO COMPLETE
*/
.autocomplete-container {
  position: absolute;
  top: 32px;
  background-color: white;
  z-index: 500; }

.autocomplete-container > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1); }

.autocomplete-container li {
  padding: 0px 8px;
  line-height: 32px;
  max-height: 32px;
  overflow: hidden;
  font-size: 0.9rem;
  margin: 0;
  list-style: none;
  cursor: pointer;
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  color: #454545; }

.autocomplete-container li:hover {
  color: #222;
  background-color: #FAFAFA; }

/*
 * Payment
 */
#payment-container {
  visibility: hidden;
  display: none; }

.expert-mode #payment-container {
  visibility: visible;
  display: block; }

.StripeElement {
  height: 32px;
  padding: 0px 10px;
  border: 1px solid #ddd4e3;
  background-color: white; }

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df; }

.StripeElement--invalid {
  border-color: #fa755a; }

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important; }

/*
 *  START BUTTON
 */
#start-button {
  height: 42px;
  width: 100%;
  background-color: #bba44a;
  color: #F1F1F1;
  border: none;
  transition: all 0.4s; }

.submitting #start-button {
  background-color: #dccc90;
  color: #E9E9E9;
  cursor: wait; }

/*
* OTHER WIDGET THINGS
*/
.topbar-button {
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 22px;
  cursor: pointer; }

.topbar-button .button-icon {
  display: inline-block;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: #786D85;
  vertical-align: middle;
  font-size: 0;
  text-align: center;
  margin-right: 2px; }

.topbar-button .button-icon > img {
  width: 12px;
  height: auto;
  vertical-align: middle; }

.loading-icon-container {
  text-align: center;
  font-size: 0.85rem;
  color: #786D85; }

.loading-icon {
  height: 70px;
  margin: 0 auto 15px;
  font-size: 0; }

.loading-icon > * {
  display: inline-block;
  position: relative;
  width: 7px;
  height: 50px;
  background-color: #BCBBC8;
  margin-right: 5px;
  animation: float 0.9s ease-in-out infinite; }

.loading-icon > *:nth-child(2) {
  animation-delay: 0.1s; }

.loading-icon > *:nth-child(3) {
  animation-delay: 0.2s; }

.loading-icon > *:nth-child(4) {
  animation-delay: 0.25s; }

.loading-icon > *:nth-child(5) {
  animation-delay: 0.35s; }

/*
 *
 *  ANIMATIONS
 *
 */
@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes float {
  0% {
    top: 0; }
  50% {
    top: 20px; }
  100% {
    top: 0; } }

@keyframes throb {}
